{% extends 'base.html' %}
{% block content %}
            {% for article in articles %}
            {{article.id}}<br>
            {{article.title}}<br>
            {{article.tag}}<br>
            {{article.author.username}}<br>
            {{article.top_image}}<br>
            {{article.body|truncatechars:9 }}<br>
            {{article.created}}<br>
            {{article.updated}}<br>
            {{article.status | title}}<br>
            <a href="{{article.get_absolute_url}}">記事詳細へ</a>
            <br>
            {% endfor %}
{% endblock %}